.bg_s1_qlaira_29 {
	background-image: url('../../content/img/qlaira/29/29_1.png')
}


.btn_s1_29 {
	position: absolute;
	border: none;
	width: 445px;
	height: 56px;
	background-color: rgba(0,0,0,0);
	background-repeat: no-repeat;
	background-position: 0 0;
	z-index: 7000;

}

.btn_s1_29:after {
	content: '';
	position: absolute;
	right: -3px;
	top: -12px;
	background-repeat: no-repeat;
	height: 56px;
	width: 56px;
	background-position: 0px -84px;
	background-image: url('../../content/img/qlaira/29/spline.png');
} 


.btn_s1_29__1 {
	top: 358px;
	left: 62px;
	background-image: url('../../content/img/qlaira/29/29_2.png');  
}

.btn_s1_29__2 {
	top: 358px;
	left: 526px;
	background-image: url('../../content/img/qlaira/29/29_3.png');   
}


.btn_s1_29.active:after {
	background-position: 0 14px;
}

.wrapper_s1_29 {
	position: absolute;
	width: 445px;
	height: 197px;
	overflow: hidden;
}

.block_s1_29 {
	position: absolute;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
	-webkit-transition: all .5s ease; 
	-webkit-backface-visibility: hidden;
}


.wrapper_S1_29__1 {
	top: 414px;
	left: 62px;
}

.wrapper_S1_29__2 {
	top: 414px;
	left: 526px;
}



.block_s1_29__1 {
	top:-100%;
	background-image: url('../../content/img/qlaira/29/29_4.png');  
}

.block_s1_29__2 {
	top:-100%; 
	background-image: url('../../content/img/qlaira/29/29_5.png');  
}


.block_s1_29__1.active,
.block_s1_29__2.active {
	top:0%;
}
