.bg_s1_qlaira_1 {
	background-image: url('../../content/img/qlaira/1.png')
}



.btn_s1_1__1 {
  width: 227px;
  height: 100px;
  top: 238px;
  left: 30px; 
}

.btn_s1_1__2 {
  width: 227px;
  height: 100px;
  top: 351px;
  left: 30px; 
}

.btn_s1_1__3 {
  width: 227px;
  height: 100px;
  top: 466px;
  left: 30px; 
}

.btn_s1_1__4 {
  width: 227px;
  height: 100px;
  top: 238px;
  left: 276px; 
}

.btn_s1_1__5 {
  width: 227px;
  height: 100px;
  top: 351px;
  left: 276px; 
}

.btn_s1_1__6 {
  width: 227px;
  height: 100px;
  top: 466px;
  left: 276px; 
}

.btn_s1_1__7 {
  width: 227px;
  height: 100px;
  top: 580px;
  left: 276px; 
}