.bg_s1_qlaira_10 {
	background-image: url('../../content/img/qlaira/10/10_1.png')
}



.btn_s1_10__1 {
	width: 74px;
	height: 74px;
	top: 482px;
	left: 826px;
}

.popup_s1_10__1 {
	width: 948px;
	height: 472px;
	top: 125px;
	left: 32px;
	background-size: 100%; 
	background-repeat: no-repeat; 
}

.popup_s1_10__1 {
	background-image: url('../../content/img/qlaira/10/10_2.png');        
}

