.bg_s1_qlaira_14 {
	background-image: url('../../content/img/qlaira/14/14_1.png')
}

.btn_s1_14__1 {
    width: 74px;
    height: 74px;
    top: 366px;
    left: 440px;
}

.btn_s1_14__2 {
    width: 74px;
    height: 74px;
    top: 566px;
    left: 440px;
}

.popup_s1_14__1,.popup_s1_14__2  {
	width: 996px;
	height: 692px;
	top: 50px;
	left: 17px;
	background-size: 100%; 
	background-repeat: no-repeat; 
}

.popup_s1_14__1 {
	background-image: url('../../content/img/qlaira/14/14_2.png');        
}

.popup_s1_14__2 {
	background-image: url('../../content/img/qlaira/14/14_3.png');        
}