.bg_s1_title_0 {
	background-image: url('../../content/img/2017_Title_2_1.png')
}

.btn_s1_1 {
    width: 250px;
    height: 81px;
    top: 630px;
    left: 89px;
}

.btn_s1_2 {
    width: 250px;
    height: 81px;
    top: 630px;
    left: 388px;
}

.btn_s1_3 {
    width: 250px;
    height: 81px;
    top: 630px;
    left: 686px;	
}

.btn_s1_4 {
    width: 151px;
    height: 55px;
    top: 36px;
    left: 40px;	
}
