.bg_s2_mirena_19 {
	background-image: url('../../content/img/mirena/4/4_4/4_4_1.png')
}

.wraper_s2_mirena_19 {
    position: absolute;
    top: 284px;
    left: 151px;
}

.wraper_s2_mirena_19 div {
	position: absolute;
	width: 739px;
	height: 81px;
	left: 150px;
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity:0;
}



.wraper_s2_mirena_19 div.step_1 {
	top: 0;
	background-image: url('../../content/img/mirena/4/4_4/4_4_2.png');
	-webkit-transition: 1s ease 1s;	
	transition: 1s ease 1s;
}

.wraper_s2_mirena_19 div.step_2 {
	top: 90px;	
	background-image: url('../../content/img/mirena/4/4_4/4_4_3.png');
	-webkit-transition: 1s ease 1.5s;	
	transition: 1s ease 1.5s;
}

.wraper_s2_mirena_19 div.step_3 {
	top: 199px;
	background-image: url('../../content/img/mirena/4/4_4/4_4_4.png');
	-webkit-transition: 1s ease 2s;	
	transition: 1s ease 2s;
}

.wraper_s2_mirena_19 div.step_4 {
	top: 408px;
	left: 0px;
	background-image: url('../../content/img/mirena/4/4_4/4_4_3_2.png');
	-webkit-transition: 1s ease 1.5s;	
	transition: 1s ease 1.5s;
}


.wraper_s2_mirena_19.active div {
	opacity:1;
	left: 0;
}

.wraper_s2_mirena_19.active div.step_4 {
	opacity:1;
	left: 0px;
}