.bg_s2_mirena_1 {
	background-image: url('../../content/img/mirena/Mirena_Home.png')
}


.btn_s2_mirena_1__1 {
    width: 362px;
    height: 82px;
    top: 220px;
    left: 49px;
}

.btn_s2_mirena_1__2 {
    width: 362px;
    height: 82px;
    top: 310px;
    left: 49px;
}

.btn_s2_mirena_1__3 {
    width: 362px;
    height: 82px;
    top: 402px;
    left: 49px;
}

.btn_s2_mirena_1__4 {
    width: 362px;
    height: 82px;
    top: 493px;
    left: 49px;
}