.bg_s3_angeliq_9 {
	background-image: url('../../content/img/angeliq/9/9_1.png')
}

.btn_s3_angeliq_9__1 {
    top: 261px;
    left: 69px;
    width: 171px;
    height: 49px;
} 

.btn_s3_angeliq_9__2 {
    top: 261px;
    left: 418px;
    width: 171px;
    height: 49px;
} 

.btn_s3_angeliq_9__3 {
    top: 261px;
    left: 751px;
    width: 171px;
    height: 49px;
} 


.btn_s3_angeliq_9__4 {
    top: 594px;
    left: 40px;
    width: 56px;
    height: 56px;
} 

.popup_s3_angeliq_9__4 {
    top: 530px;
    left: 175px;
    width: 688px;
    height: 189px;
		background-image: url('../../content/img/angeliq/9/9_2.png');	
} 
