.bg_s3_angeliq_6 {
	background-image: url('../../content/img/angeliq/6/6_1.png')
}

.btn_s3_angeliq_6__1 {
    top: 546px;
    left: 544px;
    width: 56px;
    height: 56px;
} 

.popup_s3_angeliq_6__1 {
    top: 88px;
    left: 70px;
    width: 876px;
    height: 648px;
		background-image: url('../../content/img/angeliq/6/6_2.png');	
} 

